<mat-sidenav-container>
  <mat-sidenav mode="{{ navMode }}" opened="{{ initOpened }}" #navpanel id="navpanel">
    <mat-nav-list style="width:200px;">
      <a *ngIf="!isLoggedIn" mat-list-item routerLink="/login" routerLinkActive="active">Log in</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/admin" routerLinkActive="active" (click)="onMenuSelected();">{{ username }}</a>
      <a *ngFor="let console of keys(consoles);" mat-list-item routerLink="/games/{{console}}" routerLinkActive="active" (click)="onMenuSelected();">{{ consoles[console] }}</a>
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout();onMenuSelected();">Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>