<mat-sidenav-container>
  <mat-sidenav mode="{{ navMode }}" opened="{{ initOpened }}" #navpanel >
    <mat-nav-list style="width:200px;">
      <a mat-list-item routerLink="/admin" routerLinkActive="active" (click)="onMenuSelected();">{{ accountName }}</a>
      <a mat-list-item routerLink="/games" routerLinkActive="active" (click)="onMenuSelected();">Clasificados</a>
      <a mat-list-item routerLink="myads" routerLinkActive="active" (click)="onMenuSelected();">My Ads</a>
      <a mat-list-item routerLink="createad" routerLinkActive="active" (click)="onMenuSelected();">Create new Ad</a>
      <a mat-list-item  (click)="logout();">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>